.filterForm {
  width: 30%;
  background-color: transparent;
}

.filter {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  outline: none;
  border: 0.1rem solid #1a1a1a;
  /* border: none; */
  padding: 0.7rem 1rem;
  background-color: transparent;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.filter::placeholder {
  font-style: italic;
}
