.spinnerContainer {
  height: 100%;
  width: 80%;
  margin: 20rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
